h2 {
font-weight: 450;
font-style: normal;
font-size: 30px;
color: rgba(0, 159, 227, 1)
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: Lato, Helvetica;
}
.top-content {
  background-image: url('../images/pics/proc/BoP.jpg'), linear-gradient(to bottom, rgba(211, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 55%);
}

.part-mythical {
  background-image: url('../images/pics/proc/mythical.jpg');
}
.part-registration {
  background-image: url('../images/pics/proc/registration.jpg');
}
.part-hosting {
  background-image: url('../images/pics/proc/hosting.jpg');
}
.part-volunteer {
  background-image: url('../images/pics/proc/volunteer.jpg');
}
.part-sponsorship {
  background-image: url('../images/pics/proc/sponsorship.jpg');
}
.part-end {
  background-image: url('../images/pics/proc/EoP.jpg');
}
.top-content,
.part {
  background-repeat: no-repeat;
  background-position:  center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-size: 100% ;
  width:100%;
  height: 100%;
  display: flex;
}
.low {
  text-transform: lowercase;
}
.top-content {
  align-items: center;
  align-content: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.part {
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}
.header {
  margin: -40px;
  float: left;
  clear:none;

}
.header-img {
  display: block;
  text-align: right;
  padding: 20px;
  text-align: center;
  width: 100%;
}
h1 {
  font-variant: small-caps;
}

h4 {

}

.top-content .label {
  color:rgba(233, 78, 27, 1);
  background: rgba(11, 12, 12, 0.9);
}

.part-mythical .label {
  color:rgba(233, 78, 27, 1);
  background: rgba(11, 12, 12, 0.9);
}

.part-registration .label {
  color:rgba(233, 78, 27, 1);
  background: rgba(11, 12, 12, 0.9);
}

.part-hosting .label {
  color:rgba(233, 78, 27, 1);
  background: rgba(11, 12, 12, 0.9);
}

.part-sponsorship .label {
  color:rgba(233, 78, 27, 1);
  background: rgba(11, 12, 12, 0.9);
}

.part-volunteer .label {
  color:rgba(233, 78, 27, 1);
  background: rgba(11, 12, 12, 0.9);
}

.part-end .label {
  color:rgba(0, 0, 0, 1);
  background: rgba(11, 12, 12, 0.9);
}
.top-content .label{
  margin-top:40px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.part .label{
  margin-top:50px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.label{
  width: 100%;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
}
.label h1 {
  letter-spacing: 10px;
  font-size: 240%;
  font-weight: 100;
}
.label h2 {
  margin-top: 20px;
  font-size: 180%;
  font-weight: 300;
  color:rgba(0, 159, 227, 1);
}
.label h3 {
  margin-top: 20px;
  font-size: 150%;
  font-weight: 300;
  color:rgba(0, 159, 227, 1);
}

.part .label h2 {
  letter-spacing: 3px;
  font-size: 220%;
  font-weight: 300;
}
.part .label ul {
  margin: 0px;
  padding: 0px;
}
.part .label li {
  margin-top: 20px;
  list-style: none;
  font-size: 150%;
  padding: 10px 0px 0px 0px;
  margin: 0px;
  font-weight: 300;
}
.header ul {
  margin-left: 0px;
  padding-left: 0px;
}
.header ul li {
  float: left;
  list-style: none;
  font-size: 140%;
  padding: 40px 20px 20px 20px;
  font-variant: small-caps;
  max-height: 80px;
}
.header ul li a {
  color:rgba(0, 159, 227, 1);
  text-decoration: none;
  font-weight: 300;
  font-variant: small-caps;
  font-weight: bold;
}

.header ul li a:hover {
  color:rgba(233, 78, 27, 1);
}

.content {
  padding:40px;
  margin-top: -40px;
  margin-bottom: -40px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 40px, rgba(255, 255, 255, 1) 95%, rgba(255, 255, 255, 0) 100%);
  display: flex;
  align-items: center;
  align-content: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  overflow: auto;
  width: 100%;
  min-height: 100%;
}
.content .page {
  width: 100%;
  font-weight: 300;
  padding: 60px 0px 60px 0px;
}
.content h1 {
  font-size: 160%;
  font-weight: 200;
  margin: 30px 0px 30px 0px;
  font-weight: 300;
  font-size: 260%;
  text-align: center;
  text-transform: uppercase;
  color:rgba(0, 159, 227, 1);
}
h4 {
  color: rgba(233, 78, 27, 1);
  font-weight: 300;
  text-transform: uppercase;
}
.content .row{
  margin-top:40px;
}
.content .time{
  font-weight: bold;
  margin-right: 10px;
}
 .social a i {
  font-size: 40px;
  color: #ffff;
  margin: 0 5px;
  text-decoration: none;
}
 .social
{
  margin-top: 40px;
  text-align: center;
}
.medal-img{
  width:64px;
  text-align: center;
  margin: 0px auto;
  display: block;
}

.stayTuned{
  color:rgba(233, 78, 27, 1);
}
@media only screen and (max-width: 500px) {
  .header-img img {
    width: 250px;

  }
  .part .label h2,
  .top-content h1 {
    letter-spacing: 2px;
    font-size: 120%;
  }
  .top-content  .label h1 {
    font-weight: 200;
  }
  .part .label li {
    font-size: 90%;
  }
  .header {
    margin: -20px;
  }
  .header ul li {
    font-size: 80%;
    padding: 40px 10px 10px 10px;
  }

  .top-content {
    background-image: url('../images/pics/proc/BoP_mob.jpg'), linear-gradient(to bottom, rgba(211, 255, 255, 1) 0%, rgba(211, 255, 255, 1) 55%);
  }
  .part-mythical {
    background-image: url('../images/pics/proc/mythical_mob.jpg');
  }
  .part-registration {
    background-image: url('../images/pics/proc/registration_mob.jpg');
  }
  .part-hosting {
    background-image: url('../images/pics/proc/hosting_mob.jpg');
  }
  .part-volunteer {
    background-image: url('../images/pics/proc/volunteer_mob.jpg');
  }
  .part-sponsorship {
    background-image: url('../images/pics/proc/sponsorship_mob.jpg');
  }
  .part-end {
    background-image: url('../images/pics/proc/EoP_mob.jpg');
  }
  .top-content{
    background-position:  center top;
    background-attachment: scroll;
  }
  .part-mythical,
  .part-registration,
  .part-hosting,
  .part-volunteer,
  .part-sponsorship,
  .part-end {
    background-position:  center 0px;
    background-attachment: scroll;
  }
  .top-content {
    align-items: center;
    align-content: flex-start;
    flex-direction: column;
    justify-content: flex-end;
  }
  .part-mythical,
  .part-registration,
  .part-hosting,
  .part-volunteer,
  .part-sponsorship,
  .part-end {
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: flex-end;
  }

  .content {
    padding: 20px;
    margin-top: -20px;
    margin-bottom: -20px;
    background: none;
  }
  .content .page {
    padding: 30px 0px 30px 0px;
  }
  .content h4 {
    font-size: 110%;
  }
  .part .label h3 {
    margin-top: 10px;
    font-size: 110%;
    font-weight: 200;
  }
  .part .label {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

li.live a {
  color: #ff0000 !important;
}

#partnership-info .col-md-3,
#partnership-info .col-md-4,
#partnership-info .col-md-6 {
  text-align: center;
  vertical-align: middle;
}
